// @import '../../StyleHelpers/Variables.scss';


.page_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;

    .home {
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: row;

        .homeContainer {
            margin-left: 300px;
            width: 100%;
            height: 100vh;
            padding: 10px;
            transition: margin-left .1s ease-in;

            &.Con_inactive {
                margin-left: 80px;
                // transition: margin-left .1s ease-out;
            }
            
            .grid {
                max-width: 1200px;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 2rem;
                padding: 20px;
            }

            .loading{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 25px;
            }
        }

    }

   
}