.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    .fiter-wrap {
        width: 100%;
        display: flex;
        gap: 10px;
        margin-top: 25px;


        .filters {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            input{
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                outline: none;
            }
        }



    }
}