@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}


p {
  margin: 0px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

h5 {
  margin: 0px;
}

h6 {
  margin: 0px;
}

h4 {
  margin: 0px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}




input:required {
  background-color: black;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0c0c0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3399ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}